@font-face {
  font-family: "Inter";
  src: url("fonts/inter-var.woff2") format("woff2");
  font-variation-settings: "wght" 100 900, "slnt" -10 0;
}
:root {
  --color1: rgb(212, 175, 53);
  --color2: #9a7d21;
  --color3: rgb(30, 30, 30);
  --color4: rgb(43 43 43);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: Inter;
  color: white;
}
body {
  background-color: rgb(30, 30, 30);
  overflow-x: hidden;
}
/* #test {
  background-color: #d4af37;
  transform: rotate(45deg);
  width: 2rem;
  height: 2rem;
  position: absolute;
  z-index: -1;
} */
#line {
  border-bottom: white solid 1px;
  width: 80vw;
  position: absolute;
  margin-top: 1rem;
  bottom: 0;
}
.bar.active {
}
.bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  font-size: 1.4rem;
  font-variation-settings: "wght" 200;
  position: absolute;
  top: 0rem;
  padding-top: 0.5rem;
  /* border: solid white 1px;
  border-radius: 2rem; */
  /* width: 80vw;
  left: 10vw; */
  /* padding: 0.2rem; */
  z-index: 10;
  background-color: rgb(43 43 43);
  transition: all 0.8s;
  /* border-bottom: solid white 1px; */
}
.bar img {
  width: 5%;
  margin: 0.2rem;
}
.bar a {
  text-decoration: none;
  color: white;
}
.bar div {
  display: flex;
  gap: 3rem;
}
.bar button {
  /* background-color: var(--color1); */
  color: white;
  font-variation-settings: "wght" 400;
  padding: 1rem 1.5rem 1rem 1.5rem;
  border-radius: 1rem;
  border: var(--color1) solid 1px;
  background-color: var(--color3);
  transition: all 1s;
}
.mainbar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1.4rem;
  font-variation-settings: "wght" 200;
  position: fixed;
  top: 10vh;
  right: 5vw;
  padding-top: 3rem;
  padding-bottom: 3rem;
  /* padding-top: 0.5rem; */
  /* padding: 10rem; */
  z-index: 10;
  background-color: var(--color3);
  /* box-shadow: 0 0px 10px 2px rgba(225, 225, 225, 0.1); */
  transition: all 1s;
  flex-wrap: nowrap;
  border-radius: 5rem;
  gap: 4rem;
  /* display: none; */
  transition: all 1s;
  /* filter: blur(1px); */
}
.mainbar.in {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1.4rem;
  font-variation-settings: "wght" 200;
  position: fixed;
  top: 10vh;
  right: 7vw;
  padding-top: 3rem;
  padding-bottom: 3rem;
  /* padding-top: 0.5rem; */
  /* padding: 10rem; */
  z-index: 10;
  background-color: rgb(43 43 43);
  transition: all 1s;
  flex-wrap: nowrap;
  border-radius: rem;
  gap: 4rem;
  /* display: none; */
  transform: translateX(200%);
}
.navbar:hover {
  cursor: pointer;
}
.navbar2 {
  /* padding: 2.5rem; */
  text-decoration: none;
  border: none;
  color: white;
  /* color: white; */
  background: none;
  width: 7vw;
  height: 5vh;
  border-radius: 5rem;
  transition: all 0.5s;
}
.navbar2.selected {
  background: var(--color1);
  color: black;
  box-shadow: 0px 5px 56px -18px #d4af37;
  width: 6vw;
  font-variation-settings: "wght" 400, "slnt" 0;
  transition: all 0.5s;
}
.navbar2:hover {
  cursor: pointer;
  box-shadow: 0 0 15px 1px rgb(212, 175, 53, 0.3);
}
#small {
  font-size: 2rem;
  width: 15vw;
  font-variation-settings: "wght" 200, "slnt" 0;
}
.land {
  /* position: absolute; */
  /* top: 20rem; */
  margin-top: 12rem;
  font-size: 8rem;
  padding: 3rem;
  height: 80vh;
  font-variation-settings: "wght" 400, "slnt" -5;
  display: flex;
  gap: 10rem;
  align-items: center;
}
.thing {
  margin-top: 5rem;
  /* width: 30vw; */
  font-variation-settings: "wght" 600, "slnt" 0;
  white-space: nowrap;
}
.pics {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  gap: 8rem;
  margin-left: 15rem;
  transform: rotate(45deg) translateX(10%) translateY(-20%);
}
.pics img:nth-child(7n) {
  border-right: solid white 0px;
  transition: border-width 0.2s linear;
}
.pics img:nth-child(7n):hover {
  border-width: 2px;
}
.pics img:nth-child(4n) {
  border-bottom: solid white 0px;
  transition: border-width 0.3s linear;
}
.pics img:nth-child(4n):hover {
  border-width: 2px;
}
.pics img:nth-child(1n) {
  border-left: dashed var(--color1) 0px;
  border-top: dashed var(--color1) 0px;
  transition: border-width 0.5s linear;
}
.pics img:nth-child(1n):hover {
  border-width: 2px;
}
.pics img {
  width: 110%;
  height: 110%;
  object-fit: cover;
  padding: 1rem;
  /* border: solid white 1px;
  padding: 1rem; */
}
@keyframes bd {
  from {
  }
  to {
    border: none;
  }
}
.cardcontainer section:nth-child(odd) {
  background-color: rgb(30, 30, 30);
}
.cardcontainer section:nth-child(even) {
  background-color: var(--color1);
}
.card {
  position: sticky;
  height: 100vh;
  width: 100vw;
  top: 0;
  display: flex;
  padding: 5rem;
  padding-top: 6rem;
  margin-top: 5rem;
  /* border-radius: 2% 2% 2% 0% / 2% 2% 0% 2%; */
  /* border: 0.1px solid white; */
  -webkit-border-top-left-radius: 3rem;
  -webkit-border-top-right-radius: 3rem;
  -moz-border-radius-topleft: 3rem;
  -moz-border-radius-topright: 3rem;
  border-top-left-radius: 3rem;
  border-top-right-radius: 3rem;
  -webkit-box-shadow: 0px -46px 43px 26px rgba(212, 175, 55, 0.39);

  box-shadow: 0px -5px 40px 0px rgba(212, 175, 55, 0.2);

  /* -webkit-box-shadow: 0px -46px 33px 19px rgba(212, 175, 55, 0.34);
  box-shadow: 0px -46px 33px 19px rgba(212, 175, 55, 0.34); */
  /* background-color: white; */
}
.title {
  font-size: 5rem;
  font-variation-settings: "wght" 600, "slnt" 0;
  flex-grow: 2;
  opacity: 1;
  transition: all 0.5s;
  transform: translateY(0);
  margin-right: 5rem;
  margin-top: 10rem;
}
.title.hidden {
  opacity: 0;
  transform: translateY(50%);
}
.title span {
  margin-top: 2rem;

  /* margin-bottom: 10rem; */
}
.title.pan {
  writing-mode: vertical-lr;
  margin-top: 0;
  /* transform-origin: 80% 0;
  margin-right: 100px;
  margin-left: -20vw;
  transform: rotate(-90deg);
  width: max-content;
  height: max-content;
  flex-grow: 1; */
}
.title p {
  font-size: 1.8rem;
  font-variation-settings: "wght" 100, "slnt" 0;
  width: 40vw;
  text-align: justify;
  margin-top: 1rem;
}
.det {
  flex-grow: 1;
  opacity: 1;
  transition: all 0.5s;
  padding: 1rem;
  transform: translateY(0);
}
.det.hidden {
  opacity: 0;
  transform: translateY(50%);
}
.det.serv {
  margin-top: 6rem;
  font-size: 3rem;
  font-variation-settings: "wght" 600, "slnt" 0;
}
.det.names {
  flex-grow: 3;
  overflow: hidden;
  font-size: 2.5rem;
  /* background: var(--color3); */
  padding-left: 1rem;
}
.person {
}
.job {
  font-size: 1.5rem;
  font-variation-settings: "wght" 100, "slnt" -10;
}
.det.pro {
  flex-grow: 1;
  /* overflow: hidden; */
  overflow-y: scroll;
  display: flex;
  margin-left: 5rem;
}
.pro img {
  height: 80%;
  filter: grayscale(1);
  /* object-fit: cover; */
  padding: 2rem;
}
.line2 {
  border: 0.5px dotted white;
  width: 30%;
  margin-bottom: 1rem;
}
.line3 {
  border: 0.5px dashed var(--color1);
  width: 60%;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  transform: translateX(-10%);
}
.line4 {
  border-bottom: var(--color1) solid 0.5px;
  width: 60%;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}
.line5 {
  border: 0.5px solid white;
  width: 70%;
  margin-top: 2rem;
  margin-bottom: 1rem;
  transform: translateX(30%);
}
.back {
  width: 60vw;
  height: 60vw;
  background-color: var(--color1);
  transform: translateX(-60%) rotate(45deg);
  position: absolute;
  z-index: -1;
}
.back2 {
  width: 50vw;
  height: 50vw;
  background-color: var(--color4);
  transform: translateX(50%) translateY(20%) rotate(45deg);
  position: absolute;
  z-index: -1;
}

.footer {
  overflow: hidden;
  background-color: var(--color1);
  height: 60vh;
  padding: 3rem;
  padding-top: 5rem;
  font-size: 3rem;
  width: 100vw;
  position: absolute;
  /* border-radius: 1rem; */
  z-index: 2;
}
.footer2 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  gap: 2rem;
  margin-top: 10rem;
}
/* .ft2
{
  display: flex;
  flex-direction: column;
  align-items: center;
} */
.info {
  text-decoration: none;
  color: white;
  font-size: 2rem;
  font-variation-settings: "wght" 200, "slnt" 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-top: 1rem;
  gap: 2rem;
}
.info a {
  text-decoration: none;
  color: white;
  font-size: 2rem;
  font-variation-settings: "wght" 200, "slnt" 0;
}
.ft2 img {
  width: 40%;
}
.icons {
  width: 15%;
}
.footer3 {
}
#this {
  color: var(--color1);
  margin-top: 1rem;
}
.th {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  gap: 1rem;
}
.incard {
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  -webkit-border-top-left-radius: 3rem;
  -webkit-border-top-right-radius: 3rem;
  -moz-border-radius-topleft: 3rem;
  -moz-border-radius-topright: 3rem;
  border-top-left-radius: 3rem;
  border-top-right-radius: 3rem;
}
#c1 {
  background-color: rgba(30, 30, 30, 0.96);
}
#c3 {
  background-color: rgba(30, 30, 30, 0.8);
}
/* #c2 {
  background-color: rgb(212, 175, 53, 0.9);
} */
#card1 {
  background-image: url(imgs/15.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* filter: blur(10px); */
}
#card3 {
  background-image: url(imgs/6.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* filter: blur(10px); */
}
/* #card4 {
  background-image: url(imgs/14.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* filter: blur(10px); */
} */
/*—————
Hover states
———————*/
.pro img:hover {
  filter: grayscale(0);
}
.det.serv p:hover,
.person:hover,
.bar a:hover {
  text-shadow: 3px 3px 4px rgba(212, 175, 55, 0.83);
}
.bar button:hover {
  box-shadow: 0px 0px 50px 5px rgba(212, 175, 55, 0.83);
}
